@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
    --primary-color: #FF6565;
    --secondary-color: #ff4d4d;
    --font-color: white;
    --font-family: "Source Sans Pro", sans-serif;
    --border-radius: 50px;
    --button-height: 50px;
    --button-width: 150px;
    --color-white-100:rgba(255,255,255,1);
    --color-white-75:rgba(255,255,255,0.75);
    --color-white-50:rgba(255,255,255,0.5);
    --color-white-25:rgba(255,255,255,0.25);

}

* {
    font-family: var(--font-family);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    gap:10px;
    align-items: center;
}
.navbar-menu a{
    text-decoration: none;
    color: var(--font-color);
    padding-right: 30px;
}
.navbar-menu a:hover {
    color: var(--secondary-color);
}
.navbar-icons img {
    width: 30px;
    cursor: pointer;
    filter: brightness(0) invert(1); 
}
#menu-toggle{
    display: none;
}
.navbar-icons{
    display: none;
    font-size: 25px;
    color: var(--font-color);
}

.first-section {
    background-image: url(Images/Object.png);
    height: 500px;
    padding: 100px 20px; 
    color: var(--font-color);
    text-align: center;
    background-size: cover;
    background-position: center;
    border: none;
    margin-top: -135px;
    
}

.first-section h2 {
    padding-top: 200px;
    padding-bottom: 0;
    margin-bottom: 15px;
    font-size: 40px;
    color: var(--color-white-100);
}
#first-paragraph{
    color: var(--color-white-100);
    margin-top: -10px;
    font-size: 20px;
}
#second-paragraph{
    color: var(--color-white-75);
    padding-top: 20px;
    padding: 20px 100px;
    text-align: justify;
}
button {
    margin: 40px 0;
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: var(--border-radius);
    height: var(--button-height);
    width: var(--button-width);
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
}
.container{
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}
.media{
    display: flex;
}
.results{
    display: flex;
    justify-content: space-between;
}
.section-three {
    position: relative;
    background-color: #68696b;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.section-three::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(Images/background.png) left/cover;
    transform: rotate(180deg);
    z-index: 0;
}

.section-three > * {
    position: relative;
    z-index: 1;
}
/* Responsive styling */
@media (max-width: 768px) {
    .container{
        max-width: 350px;
        margin: auto;
    }
    .navbar-menu {
        display: none; /* Hide menu links on small screens */
    }

    .navbar-icons {
        display: block; /* Show the navbar-icons on small screens */
    }

    /* By default, show the menu icon */
    .menu-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    /* When the checkbox is checked, hide the menu icon and show the close icon */
    #menu-toggle:checked ~ .navbar-icons .menu-icon {
        display: none;
    }

    #menu-toggle:checked ~ .navbar-icons .close-icon {
        display: block;
    }

    /* When the checkbox is checked, show the navbar menu */
    #menu-toggle:checked ~ .navbar-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        top: 90px;
        border: none;
        position: fixed;
        padding-left: 230px;
    }
    #second-paragraph{
        color: var(--color-white-100);
        font-size: 18px;
        padding-top: 20px;
        padding: 20px 110px;
        text-align: justify;
    }
}